@font-face {
    font-family: 'Mediametrie';
    src: url("/Mediametrie.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Mediametrie', sans-serif;
    background: url("../img/background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input, textarea {
    background-color: #d0d0d0;
}

.sortable-placeholder {
    background-color: lightgrey;
    height: 50px;
    border: 1px solid #bbbbbb;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
}

.multiselect {
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    background-color: white;
}

#checkboxes label {
    display: block;

}

#checkboxes label:hover {
    background-color: lightgrey;
}